body {
  background: url(../images/flight.jpeg) no-repeat;
  background-color: black;
  background-size:cover;
  min-width: 100vh;
  color: white;
}

header {
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;
}

header>*{
  display: inline;
}

#logo h3{
}

#submit{
  background-color: gray;
  width: 350px;

}

div>p {
  margin: 0 0 10px;
}

.vertical_center{
  min-height: 88vh;
  display: flex;
  align-items: center;
  letter-spacing: 3px
}

.btn_margin {
  margin-bottom: 150px
}

.btn_submit {
  padding: 15px 0 15px 0;
}

footer>a{
  align-content: flex-end;
  justify-content: flex-end;
  color: white;
}
