body {
  background: url(../images/flight.jpeg) no-repeat;
  background-color: black;
  background-size:cover;
  color: white;
}

h3 {
  color: white;
}

.vertical_center{
  min-height: 100vh;
  align-items: center;
  display: flex;
}

.btn_margin{
  margin-bottom: 150px
}
