body {
  background: url(../images/asia.jpeg) no-repeat;
  background-color: black;
  background-size:cover;
  min-width: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

#tabnav {
  background-color: transparent;
  margin:25 0 25 0;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  /*color:orange;*/
}

.tabs .tab a{
  color:black;
  font-size: 18px;
  font-weight: 500;
}

.tabs .tab a:hover{
  color:rgb(255, 0, 0);
}

.tabs .indicator{
  background-color:rgb(255, 0, 0);
}

#map {
  width: 600px;
  height: 400px;
  margin: 45px 25px 0 25px;
}

a {
  color: black;
}

#header > * {
  display: inline-block;
  margin: 15px 15px 45px 0;
}

#shortName {
  margin: 15px 0 10px 0;
}

h6 {
  font-size: 16px;
  font-weight: bolder;
}

.sContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  background-color:rgba(225, 225, 225, 0.6);
  height: 490px;
}

.sContainer > div {
  flex-direction: row;
  align-content: space-between;;
  padding: 15px 15px 15px 25px;

}

.s1flag {
  margin-top: 35px;
}

#shortName {
  margin: 20px 0 5px 0
}

#fullName {
  margin: 0 0 0 0
}

#capital{
  margin-top: 5px;
}
