body {
  background: url(../images/asia.jpeg) no-repeat;
  background-color: black;
  background-size:cover;
  min-width: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  text-align: right;
  margin: 15px 15px 0 0
}

#logo>*{
  display: inline;
  margin-bottom: 0
}


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

#tabnav {
  background-color: transparent;
  margin:25 0 25 0;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

.tabs .tab a{
  color:black;
  font-size: 16px;
  font-weight: 600;
}

.tabs .tab a:hover{
  color:rgb(255, 0, 0);
}

.tabs .indicator{
  background-color:rgb(255, 0, 0);
}

#map {
  width: 600px;
  height: 400px;
  margin: 40px 30px 0 25px;
  padding: 0 0 0 0;
}

a {
  color: black;
}

#logo > * {
  display: inline-block;
  margin: 10px 15px 35px 0;
}

#shortName {
  margin: 0 0 10px 0;
  color: rgb(183, 40, 40);
}

h6 {
  font-size: 16px;
  font-weight: bolder;
  color: rgb(183, 40, 40);
}

.sContainer {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px 0;
  background-color:rgba(225, 225, 225, 0.6);
  height: 475px;
  width: 1200px;
  overflow-y: scroll;
}

.sContainer > div {
  flex-direction: row;
  margin: 15px 25px 15px 25px;
  padding: 15px 25px 15px 25px;
}

div.s1info{
  padding-right: 0;
  /*background-color:rgba(225, 225, 225, 0.6);*/
}

.s1info > * {
  margin: 10px 0 5px 0;
}

.s1flag {
  margin: 10px 0 0 100px;
  max-height: 100px;
}

#shortName {
  margin: 0 0 5px 0
}

#fullName {
  margin: 0 0 0 0
}

#capital{
  margin: 5px 0 20px 0px;
}

.s1header {
  display: flex;
}

.s1header > div {
  flex-direction: row;
  align-content: space-between;
}

#localTD, #timeZone {
  font-weight: bold;
  color: rgb(183, 40, 40);
}

#langList {
  margin: 5px 0 15px 0;
}

#langFootnote {
  font-size: 12px;
}

.preTravel {
  max-width: 650px;
}

.onLocation {
  min-width: 300px;
}
.currency {
  max-width: 400px
}

#tLink, #fxRateFootnote{
  color: rgb(183, 40, 40);
  font-size: 12px;
}

#transBtn, #fxBtn{
  background-color: rgb(183, 40, 40);
}

#transLabel, #fxLabel, .textbox {
  color: rgb(183, 40, 40);
  font-weight: bolder;
}

#aCard {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  margin: 20px 0 20px 0;
  border: .5px solid black;
  padding: 5px 0 5px 10px;
  background-color: rgba(225, 225, 225, 0.6);
}

#aImg, #aText {
  align-content: space-between;
  margin: 0px 10px 0 0;
}
#aImg > img {
  margin: 5px 0 0 0;
}

#aText > span > h6{
  margin: 5px 0 0 0;
  font-size: 16px;
}

#aText > div{
  font-size: 13px;
  margin-top: 5px;
}
#aHdLn {
  font-size: 11px;
  font-weight: lighter;
  margin: 0 0 30px 0;
}
.input-field.col.s12{
  padding: 0 20px 0 0;
}

#sec3 > .sContainer > div{
  max-width: 50%;
}

#sec4 > .sContainer{
  display: block;
}

#translator {
  padding: 0 0 0 0;
}

#transLabel:active {
  margin-bottom: 50px
}

footer {
  font-size: 12px;
  margin-right: 31.828px;
  color: rgb(255, 0, 0);
  font-weight: bold;

}

footer > a {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
